@import "variables.scss";

#root, body{
  background-color: black;
}
a:focus, a:visited, a:hover,a{
  text-decoration: none !important;
}
.mainContainer{
  width: 367px;
  margin: auto;
  background-color: #f0f4f6
}
/******************************header***********************/
.logo{
  width: 45px;
}
.navbar{
  background-color: white;
  box-shadow: 0 5px 9px $boxShadowColor;
}
.menuItem{
  cursor: pointer;
  background-color: white;
  color: $lightTextColorColor;
  margin-left: 16px;
  font-size: 32px;
}
.selectedMenuItem{
  color: #235b80;
}
.shopMenuItem{
  position: relative;
  margin-bottom: 7px;
}
.searchMenuItem{
  font-size: 23px;
}
.notifNumber{
  display: inline-block;
  background-color: $orangeTextColorColor;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  top: 8px;
  right: -5px;
  color: white;
  border: none;
  font-size: 10px;
  line-height: 1.7;
}
.barsContainer {
  display: inline-block;
}
.bar {
  width: 25px;
  height: 4px;
  background-color: $lightTextColorColor;
  margin: 4px auto;
  transition: 0.4s;
  border-radius: 25%;
}
.bar2 {
  width: 29px;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/*********************search box*********************************/
.searchBox{
  width: 96%;
  margin: 15px auto;
}
.input-group{
  box-shadow: 0 5px 9px $boxShadowColor;
}
.input-group-prepend span, .input-group-append span{
  padding: 6px;
  font-size: 27px;
  font-weight: bold;
  border: none;
  background: white;
  cursor: pointer;
  color: $lightTextColorColor;
}
.input-group input{
  box-shadow: none !important;
  border: none;
  height: 47px;
}
input::-webkit-input-placeholder { /* Edge */
  color: $lightTextColorColor !important;
  font-weight: 500;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $lightTextColorColor !important;
  font-weight: 500;
}
input::placeholder {
  color: $lightTextColorColor !important;
  font-weight: 500;
}
/***********************product****************************/
.productName{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: $darkTextColorColor;
  margin-top: 10px;
}
.moreInfo{
  text-align: center;
  color: $orangeTextColorColor;
  font-size: 13px;
  margin-bottom: 25px;
  margin-top: 10px
}
.moreInfo svg{
  height: 16px;
  margin-top: -3px;
}
/************************slider****************************/
.smallContainer{
  width: 86%;
  margin: auto;
}
.sliderItemContainer{
  width: 100%;
  height: 320px;
  background: white;
  margin: auto;
  border-radius: 5px;
  position: relative;
}
.sliderItemImg{
  width: 100%;
}
.carousel-indicators{
  display: none !important;
}
.carousel-control-prev-icon {
  background-image: url('https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-left-01-128.png') !important;
}
.carousel-control-next-icon{
  background-image: url('http://pngriver.com/wp-content/uploads/2018/04/Download-Right-Arrow-PNG-Image.png') !important;
}
.carousel-control-prev-icon span,
.carousel-control-next-icon span {
  display: none !important;
}
.slideFlag{
  position: absolute;
  top: 0;
  right: 6px;
  width: 54px;
}
/*******************************chart************************/
.halfDiv{
  width: 50%;
  display: inline-block;
}
.chartContainer{
  position: relative;
  height: 160px;
  padding: 10px;
}
#chartCanvas{
  box-shadow: 5px 5px 22px #a2a2a2;
  border-radius: 100%;
  width: 100%;
}
.chartIcon{
  position: absolute;
  color: $iconsColor;
  font-size: 20px;
}
.chartIcon.users{
  top: 0;
  right: 10px;
}
.chartIcon.star{
  bottom: 0;
  right: 10px;
}
.chartIcon.fax{
  top: 0;
  left: 10px;
}
.chartIcon.light{
  bottom: 0;
  left: 10px;
}
/********************pie detail*************************/
.staticsContainer{
  .staticContainer{
    svg{
      color: $iconsColor;
      font-size: 20px;
      float: left;
    }
    .staticPercent{
      color: $darkTextColorColor;
      font-size: 15px;
      float: right;
      font-weight: bold;
    }
    .staticName{
      color: $darkTextColorColor;
      font-size: 13px;
      font-weight: bold;
      vertical-align: top;
    }
    .staticBar{
      height: 5px;
      background-color: green;
      width: 74%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0 0 0 5px;
    }
    background-color: white;
    width: 155px;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    height: 35px;
    margin-bottom: 8px;
    text-align: center;
  }
  padding: 8px;
}